.chip-placeholder-blank {
	width: 90px;
}

.chip-placeholder-hover {
	width: 90px;
	border: 1px dashed gray;
}

.chip-placeholder {
	width: 90px;
	border: 2px dashed gray;
}
.chip-status-red {
	border: 2px solid red;
}

.chip-status-green {
	border: 2px solid green;
}

.chip-status-yellow {
	border: 2px solid yellow;
}

.rect {
	position: fixed;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

.action-icons {
	font-size: 3rem;
	color: black;
}